/problematicas/ejercicio02/nbproject/private/
/problematicas/ejecicio01/build/
/problematicas/ejecicio01/nbproject/private/
/problematicas/ejercicio02/build/
/problematicas/JavaApplication25/nbproject/private/
/problematicas/JavaApplication25/build/
/problematicas/ejecicio04/nbproject/private/
/problematicas/ejecicio04/build/
